<a href="https://colab.research.google.com/github/anirbanghoshsbi/.github.io/blob/master/fundamentaldata/read_from_screener.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
dataframe=pd.read_html('https://www.screener.in/company/RELIANCE/consolidated/')

In [24]:
i=0
for df in dataframe:
  filename=f'_str({i})'
  f = open(filename, 'a')
  df.to_csv(f)
  i=i+1
  f.close()

In [18]:
dataframe[9]

     Unnamed: 0  Dec 2018  Mar 2019  ...  Mar 2021  Jun 2021  Sep 2021
0   Promoters +     47.19     47.27  ...     50.58     50.59     50.61
1        FIIs +     24.02     24.39  ...     25.66     25.11     25.41
2        DIIs +     12.30     11.86  ...     12.62     13.09     13.20
3  Government +      0.17      0.18  ...      0.20      0.18      0.18
4      Public +     16.31     16.29  ...     10.94     11.03     10.60

[5 rows x 13 columns]