<a href="https://colab.research.google.com/github/anirbanghoshsbi/.github.io/blob/master/Fundamentaldata/Year_Wise_Fundamentaldata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/anirbanghoshsbi/.github.io/master/Fundamentaldata/df.csv')

In [5]:
data.head(2)

   Unnamed: 0  ...   mar12
0           0  ...  Mar 12
1           1  ...     NaN

[2 rows x 13 columns]

In [6]:
data_slice=data[['key stats','mar21','company']]

In [10]:
data_slice.to_csv('df.csv')

In [17]:
key_var=data_slice['key stats'].tolist()

In [27]:
# extract the data columns names
data_columns=key_var[1:40]

In [37]:
len(data_slice['mar21'].tolist())

1874

In [ ]:
nlst=[]
for i in range(1,1874,40):
  print(i)
  name=str(i)
  var = name+f'_data'
  var=data_slice['mar21'].tolist()[i:i+39]
  nlst.append(var)

In [34]:
lst=[]
lst.append(data_columns)

In [35]:
lst.append(data_val)

In [43]:
df=pd.DataFrame(nlst)

In [44]:
df.columns=data_columns

In [45]:
df.head(2)

  Per Share Ratios Basic EPS (Rs.)  ... Price/Net Operating Revenue Earnings Yield
0              NaN            9.49  ...                       32.62           0.01
1              NaN           31.82  ...                       13.14           0.01

[2 rows x 39 columns]

In [52]:
df['company_name']=data_slice['company'].unique().tolist()

In [54]:
df.shape

(47, 40)