<a href="https://colab.research.google.com/github/anirbanghoshsbi/.github.io/blob/master/Fundamentaldata/Year_Wise_Fundamentaldata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [100]:
import pandas as pd
import numpy as np

In [101]:
data = pd.read_csv('https://raw.githubusercontent.com/anirbanghoshsbi/.github.io/master/Fundamentaldata/df.csv')

In [102]:
data.head(2)

   Unnamed: 0  ...   mar12
0           0  ...  Mar 12
1           1  ...     NaN

[2 rows x 13 columns]

In [103]:
data_slice=data[['key stats','mar21','company']]

In [104]:
data_slice.to_csv('df.csv')

In [105]:
key_var=data_slice['key stats'].tolist()

In [106]:
# extract the data columns names
data_columns=key_var[1:40]

In [107]:
len(data_slice['mar21'].tolist())

1874

In [108]:
nlst=[]
for i in range(1,1874,40):
  print(i)
  name=str(i)
  var = name+f'_data'
  var=data_slice['mar21'].tolist()[i:i+39]
  nlst.append(var)

1
41
81
121
161
201
241
281
321
361
401
441
481
521
561
601
641
681
721
761
801
841
881
921
961
1001
1041
1081
1121
1161
1201
1241
1281
1321
1361
1401
1441
1481
1521
1561
1601
1641
1681
1721
1761
1801
1841

In [109]:
df=pd.DataFrame(nlst)

In [110]:
df.columns=data_columns

In [111]:
df.head(2)

  Per Share Ratios Basic EPS (Rs.)  ... Price/Net Operating Revenue Earnings Yield
0              NaN            9.49  ...                       32.62           0.01
1              NaN           31.82  ...                       13.14           0.01

[2 rows x 39 columns]

In [112]:
df['company_name']=data_slice['company'].unique().tolist()

In [113]:
df.head(2)

  Per Share Ratios Basic EPS (Rs.)  ... Earnings Yield   company_name
0              NaN            9.49  ...           0.01  ADANIPORTS.NS
1              NaN           31.82  ...           0.01  ASIANPAINT.NS

[2 rows x 40 columns]

In [114]:
df.head(2)

  Per Share Ratios Basic EPS (Rs.)  ... Earnings Yield   company_name
0              NaN            9.49  ...           0.01  ADANIPORTS.NS
1              NaN           31.82  ...           0.01  ASIANPAINT.NS

[2 rows x 40 columns]