<a href="https://colab.research.google.com/github/anirbanghoshsbi/.github.io/blob/master/Download_SUB_sector_by_name.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [15]:
data = pd.read_html('https://www.moneycontrol.com/stocks/marketinfo/marketcap/bse/finance-stock-broking.html')

In [18]:
data_clean=pd.DataFrame()
data_clean['Company Name']=data[1]['Company Name'].apply(lambda x: x.replace('Add to Watchlist', ' '))

In [21]:
data_clean['Company Name']=data_clean['Company Name'].apply(lambda x : x.replace('Add to Portfolio',' '))

In [26]:
lst=data_clean['Company Name'].tolist()

In [23]:
bse_metadata=pd.read_csv('https://raw.githubusercontent.com/anirbanghoshsbi/data/main/BSE_metadata.csv')

In [24]:
bse_metadata.head(2)

        code                             name  ...   from_date     to_date
0  BOM500002     ABB India Limited EOD Prices  ...  1992-03-02  2021-06-04
1  BOM500003  AEGIS LOGISTICS LTD. EOD Prices  ...  1992-03-02  2021-06-04

[2 rows x 6 columns]

# Write to a Dictionary

In [62]:
dict_data={}

for name,row in bse_metadata.iterrows():
   dict_data[row[0]]=row[1]

In [57]:
lst=[i.strip() for i in lst]

In [71]:
stock_broker={}
for key,value in dict_data.items():
  for i in range(len(lst)):
    #print(i)
    #print(lst[i].lower())
    #print(dict_data[key].lower())
    if lst[i].lower() in dict_data[key].lower():
        stock_broker[key]=dict_data[key]

# Read from Saved Dictionary

In [78]:
with open('/content/stock_broker_sector.txt' ,'w') as f:
  f.write(str(stock_broker))

In [86]:
import ast
with open('https://raw.githubusercontent.com/anirbanghoshsbi/data/main/stock_broker_sector.txt' ,'r') as f:
  stock=f.read()

In [87]:
stock=ast.literal_eval(stock)

In [90]:
stock['BOM500337']

'PRIME SECURITIES LTD. EOD Prices'