<a href="https://colab.research.google.com/github/anirbanghoshsbi/.github.io/blob/master/Get_all_href_from_html.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
from bs4 import BeautifulSoup
import urllib.request
lst=[]
html_page = urllib.request.urlopen("https://www.moneycontrol.com/stocks/marketinfo/marketcap/bse/index.html")
soup = BeautifulSoup(html_page, "html.parser")
for link in soup.findAll('a'):
   lst.append(str(link.get("href")))

In [ ]:
lst

In [44]:
newlst=[]
i=0
for item in lst:
  i=i+1
  if item.startswith('/stocks/top-companies-in-india'):
    newlst.append(item)

In [ ]:

newlst

In [57]:
with open('fundamental_sector_name.txt', 'w') as f:
  for item in newlst:
    f.write(item)
    f.write('\t')

In [62]:
t=pd.read_csv('/content/fundamental_sector_name.txt',sep='\t',header=None)

In [73]:
t[3].tolist()[0]

'/stocks/top-companies-in-india/market-capitalisation-bse/abrasives.html'

In [69]:
import pandas as pd

In [74]:
url = 'https://moneycontrol.com/'+t[3].tolist()[0]
data=pd.read_html(url)

In [75]:
data[1]

                                        Company Name  ...  Market Cap(Rs. cr)
0  Grindwell Norto  Add to Watchlist  Add to Port...  ...            13678.90
1    Carborundum  Add to Watchlist  Add to Portfolio  ...            12135.93
2          Wendt  Add to Watchlist  Add to Portfolio  ...              868.00

[3 rows x 6 columns]