<a href="https://colab.research.google.com/github/anirbanghoshsbi/.github.io/blob/master/nse_pe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
!pip install nsepy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nsepy in /usr/local/lib/python3.7/dist-packages (0.8)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from nsepy) (4.6.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from nsepy) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from nsepy) (4.9.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nsepy) (1.15.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from nsepy) (1.3.5)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nsepy) (7.1.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from nsepy) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->nsepy) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->nsepy) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->nsepy) (2022.6.15)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->nsepy) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->nsepy) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->nsepy) (2.10)

In [10]:
from nsepy import get_index_pe_history ,get_history
from datetime import date
import pandas as pd
nifty_pe = get_index_pe_history(symbol="NIFTY",
                                start=date(2015,1,1),
                                end=date(2015,1,10))

In [11]:
nifty_fut = get_history(symbol="NIFTY",
                        start=date(2015,1,1),
                        end=date(2015,1,10),
                        index=True,
                        futures=False)

In [14]:
pd.concat([nifty_fut,nifty_pe],axis=1)

,Open,High,Low,Close,Volume,Turnover,P/E,P/B,Div Yield
Date,,,,,,,,,
2015-01-01,8272.80,8294.70,8248.75,8284.00,56560411,2.321880e+10,21.16,3.49,1.27
2015-01-02,8288.70,8410.60,8288.70,8395.45,101887024,4.715720e+10,21.45,3.54,1.26
2015-01-05,8407.95,8445.60,8363.90,8378.40,118160545,5.525520e+10,21.40,3.53,1.26
2015-01-06,8325.30,8327.85,8111.35,8127.35,172799618,8.089190e+10,20.76,3.42,1.30
2015-01-07,8118.65,8151.20,8065.45,8102.10,164075424,7.464330e+10,20.70,3.41,1.30
2015-01-08,8191.40,8243.50,8167.30,8234.60,143802802,8.147400e+10,21.04,3.47,1.28
2015-01-09,8285.45,8303.30,8190.80,8284.50,152612528,9.305950e+10,21.16,3.49,1.27

In [ ]:
yf.download('^')