<a href="https://colab.research.google.com/github/anirbanghoshsbi/.github.io/blob/master/read_from_screener.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
import pandas as pd
import os
from urllib.error import HTTPError

In [45]:
symbols=pd.read_csv('https://raw.githubusercontent.com/anirbanghoshsbi/nifty500/main/ind_nifty500list.csv')

In [75]:
symbols['data']=symbols.Symbol
ticker=symbols.data.tolist()
ticker=[item for item in ticker if item!='ANGELBRKG']

In [76]:
ticker=ticker[490:]

In [77]:
try:
  for company_name in ticker:
    path = f'/content/niftyTRY/{company_name}/'

    # Check whether the specified path exists or not
    isExist = os.path.exists(path)

    if not isExist:
    
      # Create a new directory because it does not exist 
      os.makedirs(path)
      print(f"The new directory is created! {path}")

    dataframe=pd.read_html(f'https://www.screener.in/company/{company_name}/consolidated/')
    i=0
    for df in dataframe:
      filename=path+f'_str({i})'
      #print(filename)
      f = open(filename, 'a')
      df.to_csv(f)
      i=i+1
      #print('file written')
      f.close()
except HTTPError:
  pass

The new directory is created! /content/niftyTRY/WELSPUNIND/
The new directory is created! /content/niftyTRY/WESTLIFE/
The new directory is created! /content/niftyTRY/WHIRLPOOL/
The new directory is created! /content/niftyTRY/WIPRO/
The new directory is created! /content/niftyTRY/WOCKPHARMA/
The new directory is created! /content/niftyTRY/YESBANK/
The new directory is created! /content/niftyTRY/ZEEL/
The new directory is created! /content/niftyTRY/ZENSARTECH/
The new directory is created! /content/niftyTRY/ZYDUSWELL/
The new directory is created! /content/niftyTRY/ECLERX/

In [95]:
pd.read_csv('/content/niftyTRY/3MINDIA/_str(0)',index_col=1).T[1:]

Unnamed: 0.1 Sales + Expenses + Operating Profit  ... Net Profit EPS in Rs Raw PDF
Dec 2018         792        624              167  ...        110     97.82     NaN
Mar 2019         743        640              103  ...         60     53.55     NaN
Jun 2019         804        656              148  ...         90     80.01     NaN
Sep 2019         764        634              130  ...        100     88.78     NaN
Dec 2019         745        648               98  ...         72     63.84     NaN
Mar 2020         673        597               76  ...         60     53.36     NaN
Jun 2020         346        395              -48  ...        -43    -37.74     NaN
Sep 2020         690        577              113  ...         75     66.61     NaN
Dec 2020         741        650               92  ...         59     52.72     NaN
Mar 2021         827        725              102  ...         70     62.56     NaN
Jun 2021         744        696               48  ...         30     26.72     NaN
Sep 2021         840        748               92  ...         64     57.01     NaN

[12 rows x 12 columns]

In [79]:
import shutil
shutil.make_archive('/content/niftyTRY', 'zip', '/content/niftyTRY')

'/content/niftyTRY.zip'