<a href="https://colab.research.google.com/github/anirbanghoshsbi/.github.io/blob/master/Sub_SectorChartson_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/gdrive')

In [23]:
sector=pd.read_csv('https://raw.githubusercontent.com/anirbanghoshsbi/data/main/fundamental_sector_name.csv')

In [7]:
sector[4:].head()

   Unnamed: 0                                               link
0           0  /stocks/top-companies-in-india/market-capitali...
1           1  /stocks/top-companies-in-india/market-capitali...
2           2  /stocks/top-companies-in-india/market-capitali...

In [88]:
sector['link'].iloc[36].split('/')[-1]

'automobile-dealers-distributors.html'

In [100]:
def get_clean_data(sector,i):
    import pandas as pd
    try:
      url = 'https://moneycontrol.com/'+sector['link'].iloc[i]
      data=pd.read_html(url)
      data_clean=pd.DataFrame()
      print(i)
      print(sector['link'].iloc[i].split('/')[-1])
      print('----------')
      data_clean['Company Name']=data[1]['Company Name'].apply(lambda x: x.replace('Add to Watchlist', ' '))
      data_clean['Market_Cap']=data[1]['Market Cap(Rs. cr)']
      data_clean['Company Name']=data_clean['Company Name'].apply(lambda x : x.replace('Add to Portfolio',' '))
    except TypeError as e:
      print(e)
      pass
    return data_clean

In [31]:
data_clean=get_clean_data(sector,4)

Index(['Company Name', 'Last Price', '% Chg', '52 wkHigh', '52 wkLow',
       'Market Cap(Rs. cr)'],
      dtype='object')

In [34]:
data_clean

            Company Name  Market_Cap
0  Hindustan Aeron          37585.16
1        MTAR Tech           4551.19
2  TAAL Enterprise            218.53
3  Taneja Aerospac            128.39

In [56]:
def get_mcap(datafrm):
  import numpy as np
  # Create an array of market capitalizations (in Crs)
  market_capitalizations = np.array(datafrm['Market_Cap'].tolist())

  # Calculate the market cap weights
  mcap_weights = market_capitalizations / sum(market_capitalizations)
  datafrm['weights']=pd.Series(mcap_weights)
  return datafrm

In [57]:
data_clean=get_mcap(data_clean)

In [ ]:
data_clean

In [81]:
def write_data(i):
  sector=pd.read_csv('https://raw.githubusercontent.com/anirbanghoshsbi/data/main/fundamental_sector_name.csv')
  data=get_clean_data(sector,i)
  final_data=get_mcap(data)
  lnk="/content/gdrive/MyDrive/sectors/"+ str(sector['link'].iloc[i].split('/')[-1])+'.csv'
  final_data.to_csv(lnk)
   
  return None

In [106]:
for i in range(3,len(sector)):
  write_data(i)

170
ship-building.html
----------
171
shipping.html
----------
172
software.html
----------
173
solvent-extraction.html
----------
174
speciality-chemicals.html
----------
175
speciality-retailers.html
----------
176
specialty-mining-metals.html
----------
177
sugar.html
----------
178
teacoffee.html
----------
179
telecommunication-equipment.html
----------
180
telecommunication-service-provider.html
----------
181
telecommunications-services.html
----------
182
textile-machinery.html
----------
183
textile-spinning.html
----------
184
textiles.html
----------
185
textiles-apparel.html
----------
186
trading.html
----------
187
transmission-towers-equipments.html
----------
188
transport-infrastructure.html
----------
189
travel-services.html
----------
190
tv-broadcasting-software-production.html
----------
191
vegetable-oils-products.html
----------
192
watches-accessories.html
----------
193
wood-wood-products.html
----------

In [102]:
write_data(123)

123
medical-equipmentsuppliesaccessories.html
----------

In [ ]:
/content/gdrive/MyDrive/sectors