<a href="https://colab.research.google.com/github/anirbanghoshsbi/.github.io/blob/master/Untitled31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [84]:
import pandas as pd
import numpy as np

In [85]:
#!unzip '/content/niftyTRY.zip' -d "/content/output_folder/"

In [86]:
def calc_DSRI(df):
  ''' file name ---> _str(8)'''
  working_capital_cycle = pd.read_csv(df).T[1:]
  print('done')
  working_capital_cycle.set_axis(['Debtor Days','Inventory Days','Days Payable','Cash Conversion Cycle','Working Cap Days','ROCE'],axis='columns',inplace=True)
  WC=working_capital_cycle[1:]
  WC=WC.reset_index()
  WC.rename(columns={'index':'Date'},inplace=True)
  WC=WC.set_index('Date')
  print(WC.head(1))
  WC['Debtor Days']=WC['Debtor Days'].apply(lambda x:int(x))
  WC['DSRI']=WC['Debtor Days']/WC['Debtor Days'].shift(1)
  return WC

In [87]:
def calc_GMI_sales_DEPI(df):
  ''' file name ---> _str(1)'''
  bs = pd.read_csv(df).T[1:]
  columns =['Sales', 'Expenses', 'Operating Profit', 'OPM',\
        'Other Income', 'Interest', 'Depreciation', 'Profit before tax',\
        'Tax', 'Net Profit', 'EPS in Rs', 'Dividend Payout']
  bs=bs[1:]
  bs.columns=columns  
  bs=bs.reset_index()
  bs=bs.rename(columns={'index':'Date'})
  bs=bs.set_index('Date')
  bs['Operating Profit']=bs['Operating Profit'].apply(lambda x:int(x))
  bs['Sales']=bs['Sales'].apply(lambda x:int(x))
  bs['Depreciation']=bs['Depreciation'].apply(lambda x:int(x))
  bs['GMI']=bs['Operating Profit'].shift(1)/bs['Operating Profit']
  bs['SGI']=bs['Sales']/bs['Sales'].shift(1)
  bs['DEPI']=bs['Depreciation'].shift(1)/bs['Depreciation']
  return bs

In [88]:
path='/content/output_folder/AARTIDRUGS/_str(6)'

In [89]:
def calc_LVGI(df):
  ''' file name ---> _str(6)'''
  bal = pd.read_csv(df).T[1:]
  columns= ['Share Capital', 'Reserves', 'Borrowings',\
        'Other Liabilities', 'Total Liabilities',\
        'Fixed Assets', 'CWIP', 'Investments', 'Other Assets',\
        'Total Assets']
  
  bal.columns=columns 
  bal=bal[1:] 
  bal=bal.reset_index()
  bal=bal.rename(columns={'index':'Date'})
  bal=bal.set_index('Date')
  bal['Borrowings']=bal['Borrowings'].apply(lambda x:int(x))
  bal['Equity']=bal['Share Capital'].apply(lambda x:int(x))+bal['Reserves'].apply(lambda x:int(x))
  bal['DE']=bal['Borrowings']/bal['Equity']
  bal['LVGI']=bal['DE']/bal['DE'].shift(1)
  bal['AQI']=bal['Other Assets'].apply(lambda x:int(x))/bal['Total Assets'].apply(lambda x:int(x))
  return bal

In [90]:
calc_LVGI(path)

         Share Capital Reserves  Borrowings  ...        DE      LVGI       AQI
Date                                         ...
Mar 2007            12       88         199  ...  1.990000       NaN  0.461749
Mar 2008            12      100         217  ...  1.937500  0.973618  0.477218
Mar 2009            12      112         192  ...  1.548387  0.799168  0.486352
Mar 2010            12      134         189  ...  1.294521  0.836045  0.491647
Mar 2011            12      151         267  ...  1.638037  1.265362  0.497132
Mar 2015            24      284         448  ...  1.454545  0.887981  0.531873
Mar 2016            24      333         483  ...  1.352941  0.930147  0.517241
Mar 2017            24      376         480  ...  1.200000  0.886957  0.490344
Mar 2018            24      432         546  ...  1.197368  0.997807  0.538517
Mar 2019            24      520         507  ...  0.931985  0.778361  0.539519
Mar 2020            23      629         389  ...  0.596626  0.640167  0.575508
Mar 2021            93      820         351  ...  0.384447  0.644369  0.602492
Sep 2021            93      839         467  ...  0.501073  1.303361  0.616605

[13 rows x 14 columns]

In [91]:
path7 = '/content/output_folder/AARTIDRUGS/_str(7)'
path1 = '/content/output_folder/AARTIDRUGS/_str(1)'
path6 = '/content/output_folder/AARTIDRUGS/_str(6)'
path8=  '/content/output_folder/AARTIDRUGS/_str(8)'

In [92]:
def calc_TATA(path7,path1,path6):
  ''' pass path7= _str(7), path1= _str(1), path6= _str(6)'''
  cfo = pd.read_csv(path7).T[1:]
  columns=['Cash from Operating Activity',\
          'Cash from Investing Activity',\
          'Cash from Financing Activity', 'Net Cash Flow']
  cfo=cfo[1:]
  cfo=cfo.reset_index()
  cfo.rename(columns={'index':'Date'},inplace=True)
  cfo=cfo.set_index('Date')
  cfo.columns=columns
  snap=calc_GMI_sales_DEPI(path1)
  snap2=calc_LVGI(path6)
  cfo=pd.concat([cfo,snap['Net Profit'],snap2['Total Assets']],axis=1)
  #print(cfo.head(2))
  cfo=cfo.fillna(0)
  cfo['Total Accruals']=cfo['Net Profit'].apply(lambda x:int(x))-cfo['Cash from Operating Activity'].apply(lambda x:int(x))
  cfo['Total Assets']=cfo['Total Assets'].apply(lambda x:int(x))
  cfo['TATA']=cfo['Total Accruals']/cfo['Total Assets']
  cfo=cfo.drop(['Net Profit','Total Assets'],axis=1)
  return cfo

In [93]:
def get_final_dataframe(path1,path6,path7,path8):
  cfo=calc_TATA(path7, path1, path6)
  lgvi=calc_LVGI(path6)
  dsri=calc_DSRI(path8)
  gmi=calc_GMI_sales_DEPI(path1)
  final_dataframe=pd.concat([cfo,lgvi,dsri,gmi],axis=1)
  return final_dataframe

In [94]:
final_dataframe=get_final_dataframe(path1,path6,path7,path8)

done
         Debtor Days Inventory Days  ... Working Cap Days ROCE
Date                                 ...
Mar 2007          99            121  ...              137  11%

[1 rows x 6 columns]

In [95]:
final_dataframe.columns

Index(['Cash from Operating Activity', 'Cash from Investing Activity',
       'Cash from Financing Activity', 'Net Cash Flow', 'Total Accruals',
       'TATA', 'Share Capital', 'Reserves', 'Borrowings', 'Other Liabilities',
       'Total Liabilities', 'Fixed Assets', 'CWIP', 'Investments',
       'Other Assets', 'Total Assets', 'Equity', 'DE', 'LVGI', 'AQI',
       'Debtor Days', 'Inventory Days', 'Days Payable',
       'Cash Conversion Cycle', 'Working Cap Days', 'ROCE', 'DSRI', 'Sales',
       'Expenses', 'Operating Profit', 'OPM', 'Other Income', 'Interest',
       'Depreciation', 'Profit before tax', 'Tax', 'Net Profit', 'EPS in Rs',
       'Dividend Payout', 'GMI', 'SGI', 'DEPI'],
      dtype='object')

In [96]:
def geo_mean(iterable):
    return np.exp(np.log(iterable).mean())

# Work in Progress

In [97]:
def wonderful_business(df):
  df['return_on_asset']=df['Net Profit'].apply(lambda x:float(x))/df['Total Assets'].apply(lambda x:float(x))
  return df

In [98]:
final_dataframe=wonderful_business(final_dataframe)

In [99]:
final_dataframe

          Cash from Operating Activity  ...  return_on_asset
Mar 2007                            29  ...         0.038251
Mar 2008                            29  ...         0.033573
Mar 2009                            61  ...         0.039702
Mar 2010                            59  ...         0.066826
Mar 2011                            21  ...         0.045889
Mar 2015                           105  ...         0.076693
Mar 2016                           133  ...         0.062613
Mar 2017                           175  ...         0.068850
Mar 2018                            70  ...         0.059035
Mar 2019                           143  ...         0.061856
Mar 2020                           251  ...         0.089467
Mar 2021                           155  ...         0.158550
TTM                                  0  ...              NaN
Sep 2021                             0  ...              NaN

[14 rows x 43 columns]

In [100]:
geo_mean(final_dataframe['return_on_asset'][-9:-1].apply(lambda x:float(x))) #geometric mean

0.0777179141664826

In [101]:
final_dataframe['return_on_asset'][-9:-1].apply(lambda x:float(x)).mean() #arithmetic mean

0.08243781601157571

In [102]:
path='/content/output_folder/AARTIDRUGS/_str(6)' #8,1,6