<a href="https://colab.research.google.com/github/anirbanghoshsbi/.github.io/blob/master/Untitled31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [290]:
import pandas as pd
import numpy as np
import re

In [291]:
#!unzip '/content/nifty_F_data.zip' -d "/content/new_fldr/"

In [292]:
def calc_DSRI(df):
  ''' file name ---> _str(8)'''
  working_capital_cycle = pd.read_csv(df).T[1:]
  print('done')
  working_capital_cycle.set_axis(['Debtor Days','Inventory Days','Days Payable','Cash Conversion Cycle','Working Cap Days','ROCE'],axis='columns',inplace=True)
  WC=working_capital_cycle[1:]
  WC=WC.reset_index()
  WC.rename(columns={'index':'Date'},inplace=True)
  WC=WC.set_index('Date')
  print(WC.head(1))
  WC['Debtor Days']=WC['Debtor Days'].apply(lambda x:int(x))
  WC['DSRI']=WC['Debtor Days']/WC['Debtor Days'].shift(1)
  return WC

In [293]:
def calc_GMI_sales_DEPI(df):
  ''' file name ---> _str(1)'''
  bs = pd.read_csv(df).T[1:]
  columns =['Sales', 'Expenses', 'Operating Profit', 'OPM',\
        'Other Income', 'Interest', 'Depreciation', 'Profit before tax',\
        'Tax', 'Net Profit', 'EPS in Rs', 'Dividend Payout']
  bs=bs[1:]
  bs.columns=columns  
  bs=bs.reset_index()
  bs=bs.rename(columns={'index':'Date'})
  bs=bs.set_index('Date')
  bs['Operating Profit']=bs['Operating Profit'].apply(lambda x:int(x))
  bs['Sales']=bs['Sales'].apply(lambda x:int(x))
  bs['Depreciation']=bs['Depreciation'].apply(lambda x:int(x))
  bs['GMI']=bs['Operating Profit'].shift(1)/bs['Operating Profit']
  bs['SGI']=bs['Sales']/bs['Sales'].shift(1)
  bs['DEPI']=bs['Depreciation'].shift(1)/bs['Depreciation']
  return bs

In [294]:
path='/content/new_fldr/3MINDIA/_str(6)'

In [295]:
def get_column_header(path):
  bal = pd.read_csv(path).T[1:]
  my_list=np.squeeze(bal.head(1).values).tolist()
  cols=[re.sub('[^a-zA-Z0-9]+', '', _) for _ in my_list]
  return cols

In [296]:
def calc_LVGI(df):
  ''' file name ---> _str(6)'''
  bal = pd.read_csv(df).T[1:]
  columns= get_column_header(path)
  bal.columns=columns 
  bal=bal[1:] 
  bal=bal.reset_index()
  bal=bal.rename(columns={'index':'Date'})
  bal=bal.set_index('Date')
  #print(bal.head(2))
  bal['Borrowings']=bal['Borrowings'].astype('int')
  bal['ShareCapital']=bal['ShareCapital'].astype('int')
  bal['Reserves']=bal['Reserves'].astype('int')
  #print(bal['ShareCapital'].shape,bal['Reserves'].shape)
  bal['Equity']=bal['ShareCapital']+bal['Reserves']
  bal['DE']=bal['Borrowings']/bal['Equity']
  bal['LVGI']=bal['DE']/bal['DE'].shift(1)
  bal['AQI']=bal['OtherAssets'].astype('int')/bal['TotalAssets'].astype('int')
  return bal

In [297]:
path7 = '/content/new_fldr/3MINDIA/_str(7)'
path1 = '/content/new_fldr/3MINDIA/_str(1)'
path6 = '/content/new_fldr/3MINDIA/_str(6)'
path8=  '/content/new_fldr/3MINDIA/_str(8)'

In [298]:
def calc_TATA(path7,path1,path6):
  ''' pass path7= _str(7), path1= _str(1), path6= _str(6)'''
  cfo = pd.read_csv(path7).T[1:]
  columns=['Cash from Operating Activity',\
          'Cash from Investing Activity',\
          'Cash from Financing Activity', 'Net Cash Flow']
  cfo=cfo[1:]
  cfo=cfo.reset_index()
  cfo.rename(columns={'index':'Date'},inplace=True)
  cfo=cfo.set_index('Date')
  cfo.columns=columns
  snap=calc_GMI_sales_DEPI(path1)
  snap2=calc_LVGI(path6)
  cfo=pd.concat([cfo,snap['Net Profit'],snap2['TotalAssets']],axis=1)
  #print(cfo.head(2))
  cfo=cfo.fillna(0)
  cfo['Total Accruals']=cfo['Net Profit'].apply(lambda x:int(x))-cfo['Cash from Operating Activity'].apply(lambda x:int(x))
  cfo['TotalAssets']=cfo['TotalAssets'].apply(lambda x:int(x))
  cfo['TATA']=cfo['Total Accruals']/cfo['TotalAssets']
  cfo=cfo.drop(['Net Profit','TotalAssets'],axis=1)
  return cfo

In [299]:
def get_final_dataframe(path1,path6,path7,path8):
  cfo=calc_TATA(path7, path1, path6)
  lgvi=calc_LVGI(path6)
  dsri=calc_DSRI(path8)
  gmi=calc_GMI_sales_DEPI(path1)
  final_dataframe=pd.concat([cfo,lgvi,dsri,gmi],axis=1)
  return final_dataframe

In [300]:
final_dataframe=get_final_dataframe(path1,path6,path7,path8)

done
         Debtor Days Inventory Days  ... Working Cap Days ROCE
Date                                 ...
Mar 2018          77             96  ...              -25  NaN

[1 rows x 6 columns]

In [301]:
final_dataframe.columns

Index(['Cash from Operating Activity', 'Cash from Investing Activity',
       'Cash from Financing Activity', 'Net Cash Flow', 'Total Accruals',
       'TATA', 'ShareCapital', 'Reserves', 'Borrowings', 'OtherLiabilities',
       'TotalLiabilities', 'FixedAssets', 'CWIP', 'Investments', 'OtherAssets',
       'TotalAssets', 'Equity', 'DE', 'LVGI', 'AQI', 'Debtor Days',
       'Inventory Days', 'Days Payable', 'Cash Conversion Cycle',
       'Working Cap Days', 'ROCE', 'DSRI', 'Sales', 'Expenses',
       'Operating Profit', 'OPM', 'Other Income', 'Interest', 'Depreciation',
       'Profit before tax', 'Tax', 'Net Profit', 'EPS in Rs',
       'Dividend Payout', 'GMI', 'SGI', 'DEPI'],
      dtype='object')

In [302]:
def geo_mean(iterable):
    return np.exp(np.log(iterable).mean())

# Work in Progress

In [303]:
def wonderful_business(df):
  df['return_on_asset']=df['Net Profit'].apply(lambda x:float(x))/df['TotalAssets'].apply(lambda x:float(x))
  return df

In [304]:
final_dataframe=wonderful_business(final_dataframe)

In [305]:
geo_mean(final_dataframe['return_on_asset'][-9:-1].apply(lambda x:float(x))) #geometric mean

0.11988540300805121

In [306]:
final_dataframe['return_on_asset'][-9:-1].apply(lambda x:float(x)).mean() #arithmetic mean

0.12844791188666072

In [307]:
def PMGr(df):
  df['Operating Profit']=df['Operating Profit'].apply(lambda x:float(x))
  df['GM']=df['Operating Profit'].shift(1)/df['Operating Profit']
  print('\n Margin Growth \n ')
  print(geo_mean(final_dataframe['GM'][-9:-1].apply(lambda x:float(x))))
  df['Price_Stability']=df['GM'].mean(axis=0)/df['GM'].std(axis=0)
  print('\n Margin Stability \n ')
  print(df['Price_Stability'][-1])
  return df

In [310]:
d=PMGr(final_dataframe)

 Margin Growth

1.1055757894630756

 Margin Stability

2.7445734088177907

In [313]:
d[-4:-2]

          Cash from Operating Activity  ...  Price_Stability
Mar 2020                           245  ...         2.744573
Mar 2021                           321  ...         2.744573

[2 rows x 45 columns]

In [314]:
path9='/content/new_fldr/AARTIIND/_str(9)'

In [321]:
share=pd.read_csv(path9).T[1:]

In [322]:
cols=get_column_header(path9)

In [323]:
share.columns=cols

In [325]:
share=share[1:]

In [ ]:
share['total']=share.sum(axis=1).values

In [331]:
share

         Promoters   FIIs   DIIs Public   total
Dec 2018     52.74   4.45  14.35  28.47  200.02
Mar 2019     49.36   7.43  15.91   27.3  200.00
Jun 2019     48.97   7.75  15.92  27.36  200.00
Sep 2019     48.29   7.67  16.42  27.63  200.02
Dec 2019     48.25   7.49  16.65  27.62  200.02
Mar 2020     47.75   8.28  16.56  27.41  200.00
Jun 2020     47.45   7.37  16.22  28.96  200.00
Sep 2020     47.55   7.52  15.78  29.15  200.00
Dec 2020     47.34      9  14.61  29.06  200.02
Mar 2021     46.82   8.66  15.64  28.87  199.98
Jun 2021      44.9   11.9  13.62  29.57  199.98
Sep 2021     44.21  11.86  14.75  29.18  200.00