<a href="https://colab.research.google.com/github/anirbanghoshsbi/.github.io/blob/master/Untitled31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [ ]:
!unzip '/content/niftyTRY.zip' -d "/content/output_folder/"

In [34]:
def calc_DSRI(df):
  ''' file name ---> _str(8)'''
  working_capital_cycle = pd.read_csv(df).T[1:]
  working_capital_cycle.set_axis(['Debtor Days','Inventory Days','Days Payable','Cash Conversion Cycle','Working Cap Days','ROCE'],axis='columns',inplace=True)
  WC=working_capital_cycle[1:]
  WC=WC.reset_index()
  WC.rename(columns={'index':'Date'},inplace=True)
  WC=WC.set_index('Date')
  WC['DSRI']=WC['Debtor Days'].apply(lambda x:int(x))
  WC['DSRI']=WC['Debtor Days']/WC['Debtor Days'].shift(1)
  return WC

In [126]:
def calc_GMI_sales_DEPI(df):
  ''' file name ---> _str(1)'''
  bs = pd.read_csv(df).T[1:]
  columns =['Sales', 'Expenses', 'Operating Profit', 'OPM',\
        'Other Income', 'Interest', 'Depreciation', 'Profit before tax',\
        'Tax', 'Net Profit', 'EPS in Rs', 'Dividend Payout']
  bs=bs[1:]
  bs.columns=columns  
  bs=bs.reset_index()
  bs=bs.rename(columns={'index':'Date'})
  bs=bs.set_index('Date')
  bs['Operating Profit']=bs['Operating Profit'].apply(lambda x:int(x))
  bs['Sales']=bs['Sales'].apply(lambda x:int(x))
  bs['Depreciation']=bs['Depreciation'].apply(lambda x:int(x))
  bs['GMI']=bs['Operating Profit'].shift(1)/bs['Operating Profit']
  bs['SGI']=bs['Sales']/bs['Sales'].shift(1)
  bs['DEPI']=bs['Depreciation'].shift(1)/bs['Depreciation']
  return bs

In [130]:
path='/content/output_folder/AARTIDRUGS/_str(6)'

In [131]:
def calc_LVGI(df):
  ''' file name ---> _str(6)'''
  bal = pd.read_csv(df).T[1:]
  columns= ['Share Capital', 'Reserves', 'Borrowings',\
        'Other Liabilities', 'Total Liabilities',\
        'Fixed Assets', 'CWIP', 'Investments', 'Other Assets',\
        'Total Assets']
  
  bal.columns=columns 
  bal=bal[1:] 
  bal=bal.reset_index()
  bal=bal.rename(columns={'index':'Date'})
  bal=bal.set_index('Date')
  bal['Borrowings']=bal['Borrowings'].apply(lambda x:int(x))
  bal['Equity']=bal['Share Capital'].apply(lambda x:int(x))+bal['Reserves'].apply(lambda x:int(x))
  bal['DE']=bal['Borrowings']/bal['Equity']
  bal['LVGI']=bal['DE']/bal['DE'].shift(1)
  bal['AQI']=bal['Other Assets'].apply(lambda x:int(x))/bal['Total Assets'].apply(lambda x:int(x))
  return bal

In [ ]:
calc_LVGI(path)

In [ ]:
b

In [172]:
path7 = '/content/output_folder/AARTIDRUGS/_str(7)'
path1 = '/content/output_folder/AARTIDRUGS/_str(1)'
path6 = '/content/output_folder/AARTIDRUGS/_str(6)'

In [186]:
def calc_TATA(path7,path1,path6):
  ''' pass path7= _str(7), path1= _str(1), path6= _str(6)'''
  cfo = pd.read_csv(path7).T[1:]
  columns=['Cash from Operating Activity',\
          'Cash from Investing Activity',\
          'Cash from Financing Activity', 'Net Cash Flow']
  cfo=cfo[1:]
  cfo=cfo.reset_index()
  cfo.rename(columns={'index':'Date'},inplace=True)
  cfo=cfo.set_index('Date')
  cfo.columns=columns
  snap=calc_GMI_sales_DEPI(path1)
  snap2=calc_LVGI(path6)
  cfo=pd.concat([cfo,snap['Net Profit'],snap2['Total Assets']],axis=1)
  #print(cfo.head(2))
  cfo=cfo.fillna(0)
  cfo['Total Accruals']=cfo['Net Profit'].apply(lambda x:int(x))-cfo['Cash from Operating Activity'].apply(lambda x:int(x))
  cfo['Total Assets']=cfo['Total Assets'].apply(lambda x:int(x))
  cfo['TATA']=cfo['Total Accruals']/cfo['Total Assets']
  return cfo

In [187]:
cfo=calc_TATA(path7, path1, path6)

In [188]:
cfo

          Cash from Operating Activity  ...      TATA
Mar 2007                            29  ... -0.040984
Mar 2008                            29  ... -0.035971
Mar 2009                            61  ... -0.111663
Mar 2010                            59  ... -0.073986
Mar 2011                            21  ...  0.005736
Mar 2015                           105  ... -0.027888
Mar 2016                           133  ... -0.058076
Mar 2017                           175  ... -0.078086
Mar 2018                            70  ...  0.008639
Mar 2019                           143  ... -0.036426
Mar 2020                           251  ... -0.069797
Mar 2021                           155  ...  0.070781
TTM                                  0  ...       inf
Sep 2021                             0  ...  0.000000

[14 rows x 8 columns]

In [189]:
def geo_mean(iterable):
    return np.exp(np.log(iterable).mean())

In [193]:
def wonderful_business(cfo):
  cfo['return_on_asset']=cfo['Net Profit'].apply(lambda x:float(x))/cfo['Total Assets'].apply(lambda x:float(x))

SyntaxError: ignored

In [200]:
cfo['Net Profit']

Mar 2007     14
Mar 2008     14
Mar 2009     16
Mar 2010     28
Mar 2011     24
Mar 2015     77
Mar 2016     69
Mar 2017     82
Mar 2018     82
Mar 2019     90
Mar 2020    141
Mar 2021    280
TTM         211
Sep 2021      0
Name: Net Profit, dtype: object

In [202]:
geo_mean(cfo['Net Profit'][-9:-1].apply(lambda x:float(x))) #geometric mean

113.10549472029925

In [203]:
cfo['Net Profit'][-9:-1].apply(lambda x:float(x)).mean() #arithmetic mean

129.0