<a href="https://colab.research.google.com/github/anirbanghoshsbi/.github.io/blob/master/Untitled31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [153]:
import pandas as pd
import numpy as np
import re
import warnings
warnings.filterwarnings("ignore")

In [154]:
#!unzip '/content/nifty_F_data.zip' -d "/content/new_fldr/"

Archive:  /content/nifty_F_data.zip
replace /content/new_fldr/UBL/_str(2)? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [186]:
top='/content/new_fldr'

In [187]:
company_name=[]
import os
for root, dirs, files in os.walk(top, topdown=False):
    for name in dirs:
        company_name.append(os.path.join(root, name).split('/')[-1])

In [188]:
rejct=['GAEL','UJJIVANSFB','PFIZER','NESTLEIND','MAHABANK','BAJFINANCE','IDFC','HATSUN','CHOLAFIN'\
       ,'ABBOTINDIA','SBICARD','BASF','RELAXO','GILLETTE','IOB','TCIEXP','SPICEJET','POWERINDIA'\
       ,'M&MFIN','SCHAEFFLER','PNBHOUSING','PNB','SHRIRAMCIT','BHARATRAS','HDFCAMC','HUDCO',\
       'INDIANB','HDFC','HDFCBANK','LAOPALA','BANKINDIA','TCNSBRANDS','VINATIORGA','LICHSGFIN','JSLHISAR',\
       'ICICIGI','TASTYBITE','TIMKEN','GULFOILLUB','IOLCP','ADANITRANS','PRINCEPIPE','CASTROLIND',\
       'TATAMTRDVR','YESBANK','RBLBANK','ICICIBANK','CREDITACC','SANOFI','BURGERKING','SKFINDIA','SPARC',\
       'IRCTC','CANFINHOME','MGL','VMART','WABCOINDIA','HEIDELBERG','HONAUT','JCHAC','SUNDARMFIN','HINDZINC',\
       'KARURVYSYA','KPITTECH','PGHL','IDBI','KOTAKBANK','BANDHANBNK','VENKEYS','CENTRALBK','MANAPPURAM',\
       'INGERRAND','DCBBANK','MAHSCOOTER','BSE','SBIN','PGHH','UCOBANK','SRTRANSFIN','CSBBANK','TIINDIA',\
       'CANBK','CDSL','SCHNEIDER','IBULHSGFIN','BDL','CUB','BAYERCROP','IDFCFIRSTB','SBILIFE','HEMIPROP',\
       'AXISBANK','ABB','GRSE','ORIENTREF','FEDERALBNK','BANKBARODA','UNIONBANK']

In [189]:
company_name=[company for company in company_name if company != 'PAGEIND']
company_name=[company for company in company_name if company != 'AUBANK']
company_name=[company for company in company_name if company != 'INDUSINDBK']
company_name=[company for company in company_name if company != 'ORIENTELEC']
company_name=[company for company in company_name if company != 'ASTRAZEN']
company_name=[company for company in company_name if company not in rejct]

In [190]:
def calc_DSRI(df):
  ''' file name ---> _str(8)'''
  working_capital_cycle = pd.read_csv(df).T[1:]
  #print('done')
  working_capital_cycle.set_axis(['Debtor Days','Inventory Days','Days Payable','Cash Conversion Cycle','Working Cap Days','ROCE'],axis='columns',inplace=True)
  WC=working_capital_cycle[1:]
  WC=WC.reset_index()
  WC.rename(columns={'index':'Date'},inplace=True)
  WC=WC.set_index('Date')
  #print(WC.head(1))
  WC['Debtor Days']=WC['Debtor Days'].apply(lambda x:int(x))
  WC['DSRI']=WC['Debtor Days']/WC['Debtor Days'].shift(1)
  return WC

In [191]:
def calc_GMI_sales_DEPI(df):
  ''' file name ---> _str(1)'''
  bs = pd.read_csv(df).T[1:]
  columns =['Sales', 'Expenses', 'Operating Profit', 'OPM',\
        'Other Income', 'Interest', 'Depreciation', 'Profit before tax',\
        'Tax', 'Net Profit', 'EPS in Rs', 'Dividend Payout']
  bs=bs[1:]
  bs.columns=columns  
  bs=bs.reset_index()
  bs=bs.rename(columns={'index':'Date'})
  bs=bs.set_index('Date')
  bs['Operating Profit']=bs['Operating Profit'].apply(lambda x:int(x))
  bs['Sales']=bs['Sales'].apply(lambda x:int(x))
  bs['Depreciation']=bs['Depreciation'].apply(lambda x:int(x))
  bs['GMI']=bs['Operating Profit'].shift(1)/bs['Operating Profit']
  bs['SGI']=bs['Sales']/bs['Sales'].shift(1)
  bs['DEPI']=bs['Depreciation'].shift(1)/bs['Depreciation']
  bs['delta_Margin']=bs['Operating Profit']/bs['Sales']
  
  return bs

In [192]:
def get_column_header(path):
  bal = pd.read_csv(path).T[1:]
  my_list=np.squeeze(bal.head(1).values).tolist()
  cols=[re.sub('[^a-zA-Z0-9]+', '', _) for _ in my_list]
  return cols

In [193]:
def calc_LVGI(df):
  ''' file name ---> _str(6)'''
  bal = pd.read_csv(df).T[1:]
  columns= get_column_header(df)
  bal.columns=columns 
  bal=bal[1:] 
  bal=bal.reset_index()
  bal=bal.rename(columns={'index':'Date'})
  bal=bal.set_index('Date')
  #print(bal.head(2))
  bal['Borrowings']=bal['Borrowings'].astype('int')
  bal['ShareCapital']=bal['ShareCapital'].astype('int')
  bal['Reserves']=bal['Reserves'].astype('int')
  #print(bal['ShareCapital'].shape,bal['Reserves'].shape)
  bal['Equity']=bal['ShareCapital']+bal['Reserves']
  bal['DE']=bal['Borrowings']/bal['Equity']
  bal['LVGI']=bal['DE']/bal['DE'].shift(1)
  bal['AQI']=bal['OtherAssets'].astype('int')/bal['TotalAssets'].astype('int')
  return bal

In [194]:
def calc_TATA(path7,path1,path6):
  ''' pass path7= _str(7), path1= _str(1), path6= _str(6)'''
  cfo = pd.read_csv(path7).T[1:]
  columns=['Cash from Operating Activity',\
          'Cash from Investing Activity',\
          'Cash from Financing Activity', 'Net Cash Flow']
  cfo=cfo[1:]
  cfo=cfo.reset_index()
  cfo.rename(columns={'index':'Date'},inplace=True)
  cfo=cfo.set_index('Date')
  cfo.columns=columns
  snap=calc_GMI_sales_DEPI(path1)
  snap2=calc_LVGI(path6)
  cfo=pd.concat([cfo,snap['Net Profit'],snap2['TotalAssets']],axis=1)
  #print(cfo.head(2))
  cfo=cfo.fillna(0)
  cfo['Total Accruals']=cfo['Net Profit'].apply(lambda x:int(x))-cfo['Cash from Operating Activity'].apply(lambda x:int(x))
  cfo['TotalAssets']=cfo['TotalAssets'].apply(lambda x:int(x))
  cfo['TATA']=cfo['Total Accruals']/cfo['TotalAssets']
  cfo=cfo.drop(['Net Profit','TotalAssets'],axis=1)
  return cfo

In [195]:
def get_final_dataframe(path1,path6,path7,path8):
  cfo=calc_TATA(path7, path1, path6)
  lgvi=calc_LVGI(path6)
  dsri=calc_DSRI(path8)
  gmi=calc_GMI_sales_DEPI(path1)
  final_dataframe=pd.concat([cfo,lgvi,dsri,gmi],axis=1)
  return final_dataframe

In [196]:
def geo_mean(iterable):
    return np.exp(np.log(iterable).mean())

# Work in Progress

In [197]:
def wonderful_business(df):
  df['return_on_asset']=df['Net Profit'].apply(lambda x:float(x))/df['TotalAssets'].apply(lambda x:float(x))
  df['Asset_Turn_Over_ratio'] =df['Net Profit'].apply(lambda x:float(x))/((df['TotalAssets'].shift(1).apply(lambda x:float(x)))+(df['TotalAssets'].apply(lambda x:float(x))))/2
  return df

In [198]:
def PMGr(df):
  df['Operating Profit']=df['Operating Profit'].apply(lambda x:float(x))
  df['GM']=df['Operating Profit'].shift(1)/df['Operating Profit']
  #print('\n Margin Growth \n ')
  margin_growth = geo_mean(final_dataframe['GM'][-9:-1].apply(lambda x:float(x)))
  #print(geo_mean(final_dataframe['GM'][-9:-1].apply(lambda x:float(x))))
  df['Price_Stability']=df['GM'].mean(axis=0)/df['GM'].std(axis=0)
  margin_stability=df['Price_Stability'][-1]
  #print('\n Margin Stability \n ')
  #print(df['Price_Stability'][-1])
  return df,margin_growth , margin_stability

In [199]:
def get_shares(path9):
  share=pd.read_csv(path9).T[1:]
  cols=get_column_header(path9)
  share.columns=cols
  share=share[1:]
  share['total']=share.sum(axis=1).values
  equity_repurchase=np.where(share['total'][-1]<share['total'][-2],1,0).tolist()
  return equity_repurchase

In [200]:
for serial,item in enumerate(company_name[:4]):
  print(item,serial)

IDEA 0
KPRMILL 1
PNCINFRA 2
GUJALKALI 3

In [170]:
final_placeholder={}
for serial,item in enumerate(company_name):
    print(item,serial)
    path7 = f'/content/new_fldr/{company_name[serial]}/_str(7)'
    path1 = f'/content/new_fldr/{company_name[serial]}/_str(1)'
    path6 = f'/content/new_fldr/{company_name[serial]}/_str(6)'
    path8=  f'/content/new_fldr/{company_name[serial]}/_str(8)'
    path9=  f'/content/new_fldr/{company_name[serial]}/_str(9)'
    final_dataframe=get_final_dataframe(path1,path6,path7,path8)
    final_dataframe=wonderful_business(final_dataframe)
    d,margin_growth,margin_safety=PMGr(final_dataframe)
    roa_pos=np.where(d['return_on_asset'][-3]>0,1,0).tolist()
    accrual_pos=np.where((d['Net Cash Flow'][-3]/d['TotalAssets'][-3])>0,1,0).tolist()
    fs_roa=np.where(d['return_on_asset'][-3]>d['return_on_asset'][-4],1,0).tolist()
    fcfta=np.where((d['Net Cash Flow'][-3]/d['TotalAssets'][-3])>(d['Net Cash Flow'][-4]/d['TotalAssets'][-4]),1,0).tolist()
    f_accrual=np.where(fcfta>fs_roa,1,0).tolist()
    lever=np.where(d['DE'][-3]>d['DE'][-4],0,1).tolist()
    liquid=np.where(d['Cash Conversion Cycle'][-3]<d['Cash Conversion Cycle'][-4],1,0).tolist()
    equity_repurchase=get_shares(path9)
    asset_turn=np.where(d['Asset_Turn_Over_ratio'].shift()>0,1,0)[-1].tolist()
    fs_margin= np.where(d['delta_Margin'][-3]>d['delta_Margin'][-4],1,0)
    ratios=pd.DataFrame({'Ratio_name':['margin_growth','margin_safety','ROA_pos','fcfta','accrual_pos','fs_roa','f_accrual','lever','liquid','equity_repurchase','asset_turn','fs_margin'],f'{company_name[serial]}':[margin_growth,margin_safety,roa_pos,fcfta,accrual_pos,fs_roa,f_accrual,lever,liquid,equity_repurchase,asset_turn,fs_margin]})
    ratios['company_name']=company_name[serial]
    final_placeholder[item]=ratios 
print('Done')

IDEA 0
KPRMILL 1
PNCINFRA 2
GUJALKALI 3
TRITURBINE 4
COALINDIA 5
CGCL 6
SHILPAMED 7
GUJGASLTD 8
CROMPTON 9
DBL 10
NBCC 11
DABUR 12
UTIAMC 13
APOLLOTYRE 14
BATAINDIA 15
IGL 16
RELIANCE 17
VALIANTORG 18
JKCEMENT 19
3MINDIA 20
JKPAPER 21
NMDC 22
NETWORK18 23
CENTURYPLY 24
DRREDDY 25
TVSMOTOR 26
CERA 27
IPCALAB 28
SJVN 29
KSB 30
RESPONIND 31
FLUOROCHEM 32
BAJAJCON 33
EIDPARRY 34
SUNDRMFAST 35
CADILAHC 36
APOLLOHOSP 37
PHILIPCARB 38
JYOTHYLAB 39
NH 40
KALPATPOWR 41
DHANI 42
IIFL 43
SFL 44
HAPPSTMNDS 45
TATACOMM 46
LT 47
EDELWEISS 48
LEMONTREE 49
EMAMILTD 50
RATNAMANI 51
CEATLTD 52
THYROCARE 53
CONCOR 54
ADANIPORTS 55
BSOFT 56
JBCHEPHARM 57
SIEMENS 58
BALAMINES 59
JAMNAAUTO 60
JUBLFOOD 61
TATASTEEL 62
EXIDEIND 63
TV18BRDCST 64
STAR 65
SUVENPHAR 66
RAIN 67
AIAENG 68
IEX 69
BPCL 70
WIPRO 71
VAIBHAVGBL 72
COCHINSHIP 73
VOLTAS 74
IRB 75
AJANTPHARM 76
PIIND 77
KSCL 78
INDIAMART 79
IBREALEST 80
STLTECH 81
MMTC 82
VGUARD 83
SYNGENE 84
ERIS 85
FINEORG 86
GLAXO 87
ITI 88
VSTIND 89
GALAXYSURF 90
JINDALSTEL 91
ITC 92
CCL 93
DCAL 94
BRIGADE 95
BAJAJELEC 96
BAJAJHLDNG 97
RAJESHEXPO 98
VAKRANGEE 99
ONGC 100
JSL 101
WESTLIFE 102
STARCEMENT 103
BHARTIARTL 104
ALOKINDS 105
SEQUENT 106
ASAHIINDIA 107
MOIL 108
UFLEX 109
BHEL 110
SUPRAJIT 111
BHARATFORG 112
COROMANDEL 113
UBL 114
GODREJCP 115
LAXMIMACH 116
TITAN 117
ATGL 118
BIOCON 119
CHOLAHLDNG 120
SUNTECK 121
APLAPOLLO 122
BRITANNIA 123
RITES 124
M&M 125
LTTS 126
SHOPERSTOP 127
PRSMJOHNSN 128
POWERGRID 129
GODREJPROP 130
SHREECEM 131
NAVINFLUOR 132
BLISSGVS 133
GRINDWELL 134
AEGISCHEM 135
EICHERMOT 136
TATACONSUM 137
ENGINERSIN 138
SONATSOFTW 139
IRCON 140
MARICO 141
TRENT 142
GICRE 143
AVANTIFEED 144
AMBER 145
INDOCO 146
INDIACEM 147
POLYCAB 148
TORNTPOWER 149
SUMICHEM 150
MASFIN 151
GSFC 152
MRPL 153
WELSPUNIND 154
DIVISLAB 155
BAJAJFINSV 156
WOCKPHARMA 157
LALPATHLAB 158
METROPOLIS 159
LUXIND 160
DIXON 161
AMARAJABAT 162
KEI 163
AARTIDRUGS 164
HAL 165
KNRCON 166
TATAELXSI 167
JSWSTEEL 168
FORTIS 169
RALLIS 170
UJJIVAN 171
SUZLON 172
VEDL 173
HINDPETRO 174
ALEMBICLTD 175
CHALET 176
SIS 177
MAZDOCK 178
GODREJAGRO 179
AMBUJACEM 180
ENDURANCE 181
DLF 182
MCDOWELL-N 183
BEL 184
PEL 185
TECHM 186
MPHASIS 187
CUMMINSIND 188
ADANIENT 189
BAJAJ-AUTO 190
RVNL 191
SHARDACROP 192
TTKPRESTIG 193
GRAPHITE 194
MINDAIND 195
HFCL 196
DALBHARAT 197
AFFLE 198
MOTHERSUMI 199
OBEROIRLTY 200
JSWENERGY 201
RCF 202
PRESTIGE 203
ZYDUSWELL 204
COLPAL 205
GPPL 206
PFC 207
RAMCOCEM 208
FINCABLES 209
ASIANPAINT 210
AUROPHARMA 211
GLENMARK 212
TATACHEM 213
GRASIM 214
LTI 215
ICIL 216
APLLTD 217
BALKRISIND 218
BLUEDART 219
NOCIL 220
NAUKRI 221
SWSOLAR 222
TATACOFFEE 223
AKZOINDIA 224
JKTYRE 225
GARFIBRES 226
MAHLOG 227
VARROC 228
DEEPAKNTR 229
CRISIL 230
ULTRACEMCO 231
HUHTAMAKI 232
CENTURYTEX 233
PETRONET 234
ALKYLAMINE 235
INDIGO 236
ASTERDM 237
HEROMOTOCO 238
LINDEINDIA 239
MAHINDCIE 240
EPL 241
SUPREMEIND 242
GODFRYPHLP 243
NATIONALUM 244
SUDARSCHEM 245
OFSS 246
MAXHEALTH 247
TATAINVEST 248
UPL 249
GSPL 250
AARTIIND 251
SRF 252
TATAMOTORS 253
NHPC 254
GAIL 255
WHIRLPOOL 256
DCMSHRIRAM 257
SUNTV 258
CYIENT 259
AAVAS 260
BEML 261
SYMPHONY 262
HSCL 263
VTL 264
KRBL 265
POLYPLEX 266
ECLERX 267
HDFCLIFE 268
PHOENIXLTD 269
ISEC 270
CHAMBLFERT 271
CIPLA 272
FCONSUMER 273
TCS 274
ICICIPRULI 275
TEAMLEASE 276
GNFC 277
CARBORUNIV 278
NIACL 279
BIRLACORPN 280
INDHOTEL 281
INTELLECT 282
FINPIPE 283
MHRIL 284
TORNTPHARM 285
NAM-INDIA 286
GESHIP 287
MRF 288
NILKAMAL 289
RECLTD 290
JTEKTINDIA 291
ESCORTS 292
INFIBEAM 293
JUSTDIAL 294
ATUL 295
SOLARA 296
RAYMOND 297
ZENSARTECH 298
HCLTECH 299
HINDUNILVR 300
TRIDENT 301
SAIL 302
IOC 303
INOXLEISUR 304
HEG 305
CESC 306
NATCOPHARM 307
ASHOKLEY 308
TATAPOWER 309
VIPIND 310
SPANDANA 311
RADICO 312
EQUITAS 313
POLYMED 314
SOBHA 315
HAVELLS 316
MAHSEAMLES 317
SUNPHARMA 318
BALRAMCHIN 319
CAMS 320
VBL 321
ROSSARI 322
PERSISTENT 323
REDINGTON 324
GRANULES 325
FRETAIL 326
L&TFH 327
KANSAINER 328
EIHOTEL 329
KAJARIACER 330
MIDHANI 331
JMFINANCIL 332
GMMPFAUDLR 333
SWANENERGY 334
DELTACORP 335
MINDTREE 336
OIL 337
GODREJIND 338
MUTHOOTFIN 339
HINDCOPPER 340
FDC 341
GMRINFRA 342
ASHOKA 343
BBTC 344
NCC 345
THERMAX 346
JKLAKSHMI 347
SUNCLAYLTD 348
GEPIL 349
ADVENZYMES 350
WELCORP 351
ASTRAL 352
ACC 353
CAPLIPOINT 354
INDUSTOWER 355
SUPPETRO 356
LUPIN 357
ALKEM 358
KEC 359
ZEEL 360
COFORGE 361
SOLARINDS 362
BERGEPAINT 363
ROUTE 364
MFSL 365
HINDALCO 366
DMART 367
DISHTV 368
LAURUSLABS 369
IIFLWAM 370
ABCAPITAL 371
NESCO 372
ELGIEQUIP 373
MINDACORP 374
MOTILALOFS 375
DHANUKA 376
NFL 377
GREAVESCOT 378
NLCINDIA 379
IFBIND 380
MCX 381
PVR 382
NTPC 383
INFY 384
ADANIGREEN 385
BALMLAWRIE 386
ABFRL 387
MARUTI 388
PIDILITIND 389
QUESS 390
BOSCHLTD 391
FSL 392
TANLA 393
JINDALSAW 394
SCI 395
BLUESTARCO 396
Done

In [171]:
with open('final.csv', 'w') as f:
    for key in final_placeholder.keys():
        f.write("%s,%s\n"%(key,final_placeholder[key]))

In [172]:
def small_snippet(final_placeholder,item):
  com_c=final_placeholder[item]
  df=pd.DataFrame({item:com_c[item]}).T
  df.columns=com_c['Ratio_name'].values
  return df

In [173]:
lst=[]
for item in company_name:
  item=small_snippet(final_placeholder,item)
  lst.append(item)

In [174]:
companies_in_final_list=pd.concat(lst)

In [175]:
companies_in_final_list=companies_in_final_list.fillna(0)

In [176]:
# Scaling the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
data_scaled = scaler.fit_transform(companies_in_final_list.values)
# Printing pre-processed data
print(data_scaled)

[[ 0.01618071 -0.44192866 -2.7968236  ... -0.58801591 -0.20492621
   0.73806984]
 [-0.09941983 -0.16927943  0.35754847 ... -0.58801591 -0.20492621
   0.73806984]
 [-0.56778271  0.17709344  0.35754847 ... -0.58801591 -0.20492621
   0.73806984]
 ...
 [-0.07830016 -0.14398522  0.35754847 ... -0.58801591 -0.20492621
  -1.35488534]
 [ 0.18304733 -0.4042844   0.35754847 ... -0.58801591 -0.20492621
   0.73806984]
 [ 0.01414045 -1.12532521  0.35754847 ... -0.58801591 -0.20492621
   0.73806984]]

In [177]:
from sklearn.cluster import KMeans
km_model = KMeans(n_clusters=5).fit(data_scaled)

In [178]:
clusters = km_model.labels_
companies_in_final_list['cluster'] = clusters
companies_in_final_list

            margin_growth  margin_safety  ...  fs_margin  cluster
IDEA             0.919094       2.583560  ...          1        2
KPRMILL          0.887904       3.650091  ...          1        4
PNCINFRA         0.761532       5.005009  ...          1        4
GUJALKALI        0.954495       1.879648  ...          0        1
TRITURBINE       0.977091       2.072131  ...          1        4
...                   ...            ...  ...        ...      ...
FSL              0.892443       4.624768  ...          1        4
TANLA            0.707414       0.300647  ...          1        3
JINDALSAW        0.893602       3.749035  ...          0        1
SCI              0.964118       2.730815  ...          1        4
BLUESTARCO       0.918544      -0.089704  ...          1        4

[397 rows x 13 columns]

In [179]:
companies_in_final_list.reset_index(inplace=True)

In [180]:
companies_in_final_list.rename(columns={'index':'company_name'},inplace=True)

In [181]:
companies_in_final_list

    company_name  margin_growth  margin_safety  ...  asset_turn  fs_margin  cluster
0           IDEA       0.919094       2.583560  ...           0          1        2
1        KPRMILL       0.887904       3.650091  ...           0          1        4
2       PNCINFRA       0.761532       5.005009  ...           0          1        4
3      GUJALKALI       0.954495       1.879648  ...           0          0        1
4     TRITURBINE       0.977091       2.072131  ...           0          1        4
..           ...            ...            ...  ...         ...        ...      ...
392          FSL       0.892443       4.624768  ...           0          1        4
393        TANLA       0.707414       0.300647  ...           0          1        3
394    JINDALSAW       0.893602       3.749035  ...           0          0        1
395          SCI       0.964118       2.730815  ...           0          1        4
396   BLUESTARCO       0.918544      -0.089704  ...           0          1        4

[397 rows x 14 columns]

In [182]:
gp=companies_in_final_list.groupby('cluster')

In [183]:
gp.first()

        company_name  margin_growth  ...  asset_turn  fs_margin
cluster                              ...
0               CGCL       0.807608  ...           1          1
1          GUJALKALI       0.954495  ...           0          0
2               IDEA       0.919094  ...           0          1
3               NBCC       1.022414  ...           0          1
4            KPRMILL       0.887904  ...           0          1

[5 rows x 13 columns]

In [184]:
gp.size()

cluster
0     16
1     88
2     44
3    111
4    138
dtype: int64

In [201]:
companies_in_final_list[companies_in_final_list['cluster']==0]

    company_name  margin_growth  margin_safety  ...  asset_turn  fs_margin  cluster
6           CGCL       0.807608       1.732518  ...           1          1        0
53     THYROCARE       0.867736       7.075450  ...           1          1        0
58       SIEMENS       1.020414       0.601902  ...           1          1        0
89        VSTIND       1.326352       2.362475  ...           1          0        0
96     BAJAJELEC       0.972819       2.969926  ...           1          0        0
98    RAJESHEXPO       0.956729       4.460021  ...           1          0        0
125          M&M       0.971515       3.841970  ...           1          0        0
167    TATAELXSI       0.904462       2.963870  ...           1          0        0
205       COLPAL       0.855980       7.430429  ...           1          1        0
227       MAHLOG       0.866144       4.012459  ...           1          1        0
235   ALKYLAMINE       0.812016       5.566085  ...           1          1        0
249          UPL       0.816757       7.434859  ...           1          1        0
311     SPANDANA       0.948270       2.501346  ...           1          0        0
320         CAMS       0.976950       8.639269  ...           1          1        0
324    REDINGTON       0.909723      10.211179  ...           1          1        0
356     SUPPETRO       0.877842       1.810595  ...           1          0        0

[16 rows x 14 columns]

In [203]:
companies_in_final_list[companies_in_final_list['cluster']==4]

    company_name  margin_growth  margin_safety  ...  asset_turn  fs_margin  cluster
1        KPRMILL       0.887904       3.650091  ...           0          1        4
2       PNCINFRA       0.761532       5.005009  ...           0          1        4
4     TRITURBINE       0.977091       2.072131  ...           0          1        4
8      GUJGASLTD       0.900661       3.331952  ...           0          1        4
10           DBL       0.861749       3.250733  ...           0          0        4
..           ...            ...            ...  ...         ...        ...      ...
390        QUESS       0.739553       2.608027  ...           0          0        4
391     BOSCHLTD       1.022842       4.057320  ...           0          0        4
392          FSL       0.892443       4.624768  ...           0          1        4
395          SCI       0.964118       2.730815  ...           0          1        4
396   BLUESTARCO       0.918544      -0.089704  ...           0          1        4

[138 rows x 14 columns]