<a href="https://colab.research.google.com/github/anirbanghoshsbi/.github.io/blob/master/experimental/append_data_zerodha_trading.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=Warning)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import pearsonr
import datetime

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/anirbanghoshsbi/data/main/data4correlation/copper.csv')

In [3]:
data['date']=data.time.apply(lambda d: datetime.datetime.fromtimestamp(int(d)).strftime('%d-%m-%Y'))

In [4]:
del data['time']

In [5]:
data.tail(2)

           open     high        low  ...  Volume  Volume MA        date
3267  17095.400  17245.5  17059.699  ...     NaN        NaN  02-09-2021
3268  17262.449  17340.1  17212.199  ...     NaN        NaN  03-09-2021

[2 rows x 11 columns]

In [15]:
from datetime import datetime
import calendar
d = datetime.utcnow()
unixtime = calendar.timegm(d.utctimetuple())
print(unixtime)

1632038647

In [18]:
data = data.append({'date': datetime.fromtimestamp(int(unixtime)).strftime('%d-%m-%Y'),'open':15800,'high':15900,'low':15000,'close':15850 }, ignore_index=True)

In [19]:
data.tail(2)

         open     high      low  ...  Volume  Volume MA        date
3269      NaN      NaN      NaN  ...     NaN        NaN  19-09-2021
3270  15800.0  15900.0  15000.0  ...     NaN        NaN  19-09-2021

[2 rows x 11 columns]

In [14]:
datetime.fromtimestamp(int(unixtime)).strftime('%d-%m-%Y')

'19-09-2021'