<a href="https://colab.research.google.com/github/anirbanghoshsbi/.github.io/blob/master/experimental/Elder_Impulse_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install yfinance
!pip install pandas-ta==0.2.45b

Collecting yfinance
  Downloading yfinance-0.1.64.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 8.3 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.64-py2.py3-none-any.whl size=24109 sha256=b515e2ce11dfba1e305da1a7f204f3332d20cafa948811c5428e4f2ec54f6358
  Stored in directory: /root/.cache/pip/wheels/86/fe/9b/a4d3d78796b699e37065e5b6c27b75cff448ddb8b24943c288
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.64
Collecting pandas-ta==0.2.45b
  Downloading pandas_ta-0.2.45b.tar.gz (88 kB)
     |████████████████████████████████| 88 kB 4.0 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandas-ta==0.2.45b) (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas-ta==0.2.45b) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas-ta==0.2.45b) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas-ta==0.2.45b) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandas-ta==0.2.45b) (1.15.0)
Building wheels for collected packages: pandas-ta
  Building wheel for pandas-ta (setup.py) ... done
  Created wheel for pandas-ta: filename=pandas_ta-0.2.45b0-py3-none-any.whl size=175303 sha256=b9b2827f4974681f138cb0924128407b919b754ab3998a0907edf0242e7d811c
  Stored in directory: /root/.cache/pip/wheels/b1/49/60/e674e28ae57160651c6198b76e1714a0b175e44e022fcd5137
Successfully built pandas-ta
Installing collected packages: pandas-ta
Successfully installed pandas-ta-0.2.45b0

In [2]:
import pandas as pd
import numpy as np
import yfinance as yf
import pandas_ta as ta
import warnings 
warnings.filterwarnings("ignore")

In [3]:
START = "2020-01-01"  #yyyy-mm-dd
#END = '2020-05-01'

In [4]:
tker = '^nsei' #'^nsei'
nifty =yf.download(tker,start=START)
nifty=nifty.dropna()
nifty=nifty.iloc[:,:4]

[*********************100%***********************]  1 of 1 completed

ElderImpulse
Impulse System for the price bars

Bullish price bar: (13-period EMA > previous 13-period EMA) and (MACD-Histogram > previous period's MACD-Histogram)
Bearish price bar: (13-period EMA < previous 13-period EMA) and (MACD-Histogram < previous period's MACD-Histogram)
Neutral price bar: when conditions for a bullish price bar or bearish price bar are not met.

In [5]:
nifty.ta.macd(append=True)
nifty.ta.ema(length=13,append=True)
nifty.ta.ema(length=50,append=True)
print()

In [6]:
nifty['Impulse']=0

In [7]:
for i in range(len(nifty)):
  if (nifty['EMA_13'].iloc[i]>nifty['EMA_13'].iloc[i-1] and nifty['MACDh_12_26_9'].iloc[i]>nifty['MACDh_12_26_9'].iloc[i-1]):
    nifty['Impulse'].iloc[i]=1
  elif (nifty['EMA_13'].iloc[i]<nifty['EMA_13'].iloc[i-1] and nifty['MACDh_12_26_9'].iloc[i]<nifty['MACDh_12_26_9'].iloc[i-1]):
    nifty['Impulse'].iloc[i]=-1
  else:
    nifty['Impulse'].iloc[i]=0

In [8]:
nifty['Impulse'].value_counts()

 0    202
 1    168
-1     83
Name: Impulse, dtype: int64

In [9]:
nifty[-1:]

                    open          high  ...        EMA_50  Impulse
date                                    ...
2021-10-28  18187.650391  18190.699219  ...  17542.427446       -1

[1 rows x 10 columns]

In [10]:
nifty['signal50']=0

In [12]:
for i in range(len(nifty)):
  if (nifty['close'].iloc[i]>nifty['EMA_50'].iloc[i]):
    nifty['signal50'].iloc[i]=1
  elif (nifty['close'].iloc[i]<nifty['EMA_50'].iloc[i]):
    nifty['signal50'].iloc[i]=-1
  else:
    nifty['signal50'].iloc[i]=0

In [13]:
nifty.tail(2)

                    open          high  ...  Impulse  signal50
date                                    ...
2021-10-27  18295.849609  18342.050781  ...        0         1
2021-10-28  18187.650391  18190.699219  ...       -1         1

[2 rows x 11 columns]

In [14]:
nifty[['Impulse','signal50']].to_csv('impulse.csv')