<a href="https://colab.research.google.com/github/anirbanghoshsbi/.github.io/blob/master/experimental/ML_model(Resampling).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [160]:
#!pip install yfinance

In [161]:
import yfinance as yf
import numpy as np
import pandas as pd

In [162]:
nifty = yf.download('^nsei',start='2014-01-01',end='2020-12-31')

[*********************100%***********************]  1 of 1 completed

In [163]:
nifty.tail(2)

                    Open          High  ...     Adj Close  Volume
Date                                    ...
2020-12-29  13910.349609  13967.599609  ...  13932.599609  439600
2020-12-30  13980.900391  13997.000000  ...  13981.950195  380700

[2 rows x 6 columns]

In [164]:
nifty['close_2%']=np.abs(nifty['Adj Close'].pct_change()*100).fillna(0)

In [165]:
test=pd.DataFrame(data=nifty['close_2%'].values,columns=['sum'])

In [166]:
nifty['cumsum']=0
nifty=nifty.reset_index()

In [167]:
for index , val in enumerate(nifty['close_2%']):
  
  if index==0:
    nifty.loc[index,'cumsum']=val
  else:
    if nifty['cumsum'].iloc[index-1]>2:
      nifty.loc[index,'cumsum']=val
    else:
      nifty.loc[index, 'cumsum']=val+nifty['cumsum'].iloc[index-1]

In [168]:
#test_f=pd.DataFrame({'Date':nifty.index, 'sum':test['cumsum'].values})
#pd.DataFrame({'Date':df.index,'spread':(df['Adj Close'].values - mean)})

In [171]:
nifty['diff']=nifty['close_2%']-nifty['cumsum']

In [174]:
nifty.head(10)

        Date         Open         High  ...  close_2%    cumsum      diff
0 2014-01-02  6301.250000  6358.299805  ...  0.000000  0.000000  0.000000
1 2014-01-03  6194.549805  6221.700195  ...  0.160742  0.160742  0.000000
2 2014-01-06  6220.850098  6224.700195  ...  0.317167  0.477909 -0.160742
3 2014-01-07  6203.899902  6221.500000  ...  0.471621  0.949530 -0.477909
4 2014-01-08  6178.049805  6192.100098  ...  0.200415  1.149945 -0.949530
5 2014-01-09  6181.700195  6188.049805  ...  0.101221  1.251167 -1.149945
6 2014-01-10  6178.850098  6239.100098  ...  0.050258  1.301425 -1.251167
7 2014-01-13  6189.549805  6288.200195  ...  1.641426  2.942851 -1.301425
8 2014-01-14  6260.250000  6280.350098  ...  0.492605  0.492605  0.000000
9 2014-01-15  6265.950195  6325.200195  ...  1.266448  1.759054 -0.492605

[10 rows x 10 columns]

In [182]:
final_data=nifty.iloc[nifty[nifty['diff']==0].index-1][1:]

In [184]:
days_out=1

In [185]:
final_data['Signal_Flag'] = final_data['Close'].transform(lambda x : np.sign(x.diff(days_out)))

In [187]:
final_data=final_data.dropna()

In [188]:
final_data

           Date          Open          High  ...    cumsum      diff  Signal_Flag
7    2014-01-13   6189.549805   6288.200195  ...  2.942851 -1.301425          1.0
11   2014-01-17   6306.250000   6327.100098  ...  2.696707 -1.790695         -1.0
16   2014-01-24   6301.649902   6331.450195  ...  2.579192 -1.335822          1.0
17   2014-01-27   6186.299805   6188.549805  ...  2.088800  0.000000         -1.0
22   2014-02-03   6058.799805   6074.850098  ...  2.715307 -1.275120         -1.0
...         ...           ...           ...  ...       ...       ...          ...
1695 2020-12-08  13393.849609  13435.450195  ...  2.150226 -1.871693          1.0
1700 2020-12-15  13547.200195  13589.650391  ...  2.055172 -1.983634          1.0
1704 2020-12-21  13741.900391  13777.500000  ...  4.555337 -1.414842         -1.0
1706 2020-12-23  13473.500000  13619.450195  ...  2.035644 -1.034628          1.0
1709 2020-12-29  13910.349609  13967.599609  ...  2.418918 -1.990758          1.0

[460 rows x 11 columns]

In [189]:
final_data.Signal_Flag.value_counts()

 1.0    252
-1.0    207
 0.0      1
Name: Signal_Flag, dtype: int64

# Features Creation and Modelling Part remaining