<a href="https://colab.research.google.com/github/anirbanghoshsbi/.github.io/blob/master/experimental/Pandas_merge_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [4]:
data= pd.read_csv('/content/OANDA_USDINR, 1D.csv')
data['Date']=data.time.apply(lambda d: datetime.datetime.fromtimestamp(int(d)).strftime('%d-%m-%Y'))

In [19]:
data['Date']=pd.to_datetime(data['Date'])

In [ ]:
!pip install yfinance

In [7]:
import yfinance as yf

In [11]:
nifty=yf.download('^nsei','2020-02-01').reset_index()

[*********************100%***********************]  1 of 1 completed

In [20]:
nifty['Date']=pd.to_datetime(nifty['Date'])

In [21]:
data.columns

Index(['time', 'open', 'high', 'low', 'close', 'Volume', 'Volume MA', 'Date'], dtype='object')

In [22]:
nifty.merge(data,on='Date')

          Date          Open          High  ...   close  Volume_y  Volume MA
0   2020-02-03  11627.450195  11749.849609  ...  73.408      9628    3234.15
1   2020-02-04  11786.250000  11986.150391  ...  76.375      6402    6085.85
2   2020-02-06  12120.000000  12160.599609  ...  75.046      4224    3878.35
3   2020-02-07  12151.150391  12154.700195  ...  74.405      2130    3076.05
4   2020-02-11  12108.400391  12172.299805  ...  74.653      3338    2785.90
..         ...           ...           ...  ...     ...       ...        ...
359 2021-12-23  17066.800781  17118.650391  ...  75.055      2068    4796.45
360 2021-12-27  16937.750000  17112.050781  ...  74.705      2089    4599.20
361 2021-12-28  17177.599609  17250.250000  ...  74.485      2625    4548.05
362 2021-12-29  17220.099609  17285.949219  ...  74.432      1635    4480.80
363 2021-12-30  17201.449219  17264.050781  ...  74.487      2010    4418.60

[364 rows x 14 columns]

In [ ]:
#https://stackoverflow.com/questions/53645882/pandas-merging-101