<a href="https://colab.research.google.com/github/anirbanghoshsbi/.github.io/blob/master/work/err/update_nifty.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import duckdb
import pandas as pd
import datetime

# Connect to the DuckDB database
db_path = "nifty50_data.duckdb"
conn = duckdb.connect(db_path)

# Step 1: Check the latest date in the database
query = "SELECT MAX(date) as latest_date FROM nifty50_table;"
latest_date = conn.execute(query).fetchone()[0]

# Convert to datetime for comparison
latest_date = pd.to_datetime(latest_date)

In [12]:

# Step 2: Get today's date and last trading day
today = datetime.date.today()

# If today is a weekend or holiday, adjust to last working day (basic adjustment)
if today.weekday() == 6:  # Sunday
    last_trading_day = today - datetime.timedelta(days=2)
elif today.weekday() == 5:  # Saturday
    last_trading_day = today - datetime.timedelta(days=1)
else:
    last_trading_day = today  # Assume today is a trading day (you may need to check actual market holidays)

# Step 3: Check if data is up to date
if latest_date.date() >= last_trading_day:
    print(f"Database is up to date. Latest date in DB: {latest_date.date()}")
else:
    print(f"Database is outdated. Latest date in DB: {latest_date.date()}, Expected: {last_trading_day}")

    # Prompt user for manual update
    new_data = input("Do you want to manually enter today's data? (yes/no): ").strip().lower()
    if new_data == "yes":
        # Collect manual data
        new_date = last_trading_day
        open_price = float(input("Enter Open Price: "))
        high_price = float(input("Enter High Price: "))
        low_price = float(input("Enter Low Price: "))
        close_price = float(input("Enter Close Price: "))

        # Insert the new data into the database
        insert_query = f"""
        INSERT INTO nifty50_table (date, open, high, low, close)
        VALUES ('{new_date}', {open_price}, {high_price}, {low_price}, {close_price});
        """
        conn.execute(insert_query)
        print(f"Data for {new_date} inserted successfully!")

Database is outdated. Latest date in DB: 2025-02-21, Expected: 2025-02-24
Do you want to manually enter today's data? (yes/no): yes
Enter Open Price: 22609.35
Enter High Price: 22668.05
Enter Low Price: 22518.80
Enter Close Price: 22553.35
Data for 2025-02-24 inserted successfully!

In [14]:
conn = duckdb.connect(db_path)
df = conn.execute(f"SELECT * FROM nifty50_table").fetchdf()
df.tail()

conn.close()

,date,open,high,low,close,volume
1358,2025-02-18,22963.650391,22992.500000,22801.500000,22945.300781,0.0
1359,2025-02-19,22847.250000,23049.949219,22814.849609,22932.900391,0.0
1360,2025-02-20,22821.099609,22923.849609,22812.750000,22913.150391,0.0
1361,2025-02-21,22857.199219,22921.000000,22720.300781,22795.900391,0.0
1362,2025-02-24,22609.349609,22668.050781,22518.800781,22553.349609,NaN

In [ ]:
# Connect to DuckDB
conn = duckdb.connect(db_path)

# Date to delete (wrong data)
wrong_date = "YYYY-MM-DD"  # Replace with the incorrect date

# Delete the incorrect entry
delete_query = f"DELETE FROM nifty50_table WHERE date = '{wrong_date}';"
conn.execute(delete_query)
print(f"Deleted incorrect data for {wrong_date}.")

# Ask for correct values
new_open = float(input("Enter correct Open Price: "))
new_high = float(input("Enter correct High Price: "))
new_low = float(input("Enter correct Low Price: "))
new_close = float(input("Enter correct Close Price: "))

# Reinsert the correct data
insert_query = f"""
INSERT INTO nifty50_table (date, open, high, low, close)
VALUES ('{wrong_date}', {new_open}, {new_high}, {new_low}, {new_close});
"""
conn.execute(insert_query)
print(f"Inserted correct data for {wrong_date}.")

# Close connection
conn.close()