<a href="https://colab.research.google.com/github/anirbanghoshsbi/.github.io/blob/master/work/Momentum_Strategy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install yfinance --q

     |████████████████████████████████| 62 kB 1.2 MB/s

In [2]:
# import necessary packages
import yfinance as yf
import pandas as pd
import numpy as np
import pandas_datareader.data as reader
import datetime as dt
from pandas.tseries.offsets import MonthEnd

In [3]:
symbols=pd.read_csv('https://raw.githubusercontent.com/anirbanghoshsbi/nifty500/main/ind_nifty500list.csv')

In [4]:
symbols['data']=symbols.Symbol+'.NS'

In [5]:
ticker=symbols.data.tolist()

In [6]:
# Get ticker symbol for NSE 50 stocks
#symbols=pd.read_html('https://in.finance.yahoo.com/quote/%5ENSEI/components?p=%5ENSEI')[0]
#ticker=symbols.Symbol.to_list()

In [7]:
#symbols=pd.read_html('https://www.moneycontrol.com/financials/tatasteel/balance-sheetVI/TIS#TIS')

In [8]:
#symbols[0]

In [9]:
#Get the NSE Component prices
start_date = dt.datetime(2018,1,31)
end_date= dt.datetime(2022,8,31)
df =yf.download(ticker,start_date,end_date)['Adj Close']

[*********************100%***********************]  501 of 501 completed

10 Failed downloads:
- SUPPETRO.NS: No data found for this date range, symbol may be delisted
- WABCOINDIA.NS: No data found for this date range, symbol may be delisted
- BURGERKING.NS: No data found for this date range, symbol may be delisted
- ORIENTREF.NS: No data found for this date range, symbol may be delisted
- PHILIPCARB.NS: No data found for this date range, symbol may be delisted
- CADILAHC.NS: No data found for this date range, symbol may be delisted
- JSWENERGY.NS: No data found for this date range, symbol may be delisted
- MINDAIND.NS: No data found for this date range, symbol may be delisted
- MOTHERSUMI.NS: No data found for this date range, symbol may be delisted
- ANGELBRKG.NS: No data found for this date range, symbol may be delisted

In [10]:
df.to_csv('data_500.csv')

In [11]:
# Get daily return and then cummulate it to monthly/Quartelry/Half yealrly /Annually return
monthly_return = df.pct_change().resample('M').agg(lambda x:(x+1).prod()-1)
#quarterly_return = df.pct_change().resample('Q').agg(lambda x:(x+1).prod()-1)
#halfyearly_return = df.pct_change().resample('H').agg(lambda x:(x+1).prod()-1)
#annual_return= df.pct_change().resample('Y').agg(lambda x:(x+1).prod()-1)

In [12]:
#Calculate returns over last 11 months to 6 months
past_11 = (monthly_return+1).rolling(11).apply(np.prod)-1
past_10 = (monthly_return+1).rolling(10).apply(np.prod)-1
past_9 = (monthly_return+1).rolling(9).apply(np.prod)-1
past_8 = (monthly_return+1).rolling(8).apply(np.prod)-1
past_7 = (monthly_return+1).rolling(7).apply(np.prod)-1
past_6 = (monthly_return+1).rolling(6).apply(np.prod)-1

In [13]:
#past_q_1= (quarterly_return+1).rolling(3).apply(np.prod)-1
#past_q_2= (quarterly_return+1).rolling(6).apply(np.prod)-1
#past_q_3= (quarterly_return+1).rolling(9).apply(np.prod)-1

In [14]:
formation=dt.datetime(2022,9,30)

In [15]:
from pandas.tseries.offsets import MonthEnd
end_measurement11= formation- MonthEnd(1)
end_measurement10 = formation-MonthEnd(2)

end_measurement09 = formation-MonthEnd(3)
end_measurement08 = formation-MonthEnd(4)
end_measurement07 = formation-MonthEnd(5)
end_measurement06 = formation-MonthEnd(6)

In [16]:
end_measurement11

Timestamp('2022-08-31 00:00:00')

In [17]:
past_11.tail(2)

,3MINDIA.NS,AARTIDRUGS.NS,AARTIIND.NS,AAVAS.NS,ABB.NS,ABBOTINDIA.NS,ABCAPITAL.NS,ABFRL.NS,ACC.NS,ADANIENT.NS,...,WELCORP.NS,WELSPUNIND.NS,WESTLIFE.NS,WHIRLPOOL.NS,WIPRO.NS,WOCKPHARMA.NS,YESBANK.NS,ZEEL.NS,ZENSARTECH.NS,ZYDUSWELL.NS
Date,,,,,,,,,,,,,,,,,,,,,
2022-07-31,-0.067591,-0.318829,-0.165336,-0.010063,0.450529,0.038553,-0.013908,0.290966,-0.076993,0.618980,...,0.899958,-0.448784,0.061302,-0.164788,-0.332361,-0.454602,0.384259,0.459969,-0.437933,-0.298517
2022-08-31,-0.061136,-0.288115,-0.104763,-0.111484,0.752954,-0.074979,0.013304,0.241932,0.020049,1.176765,...,0.562651,-0.544214,0.143122,-0.199071,-0.341316,-0.470148,0.310757,-0.152210,-0.508346,-0.321649

In [18]:
ret_12 = past_11.loc[end_measurement11]

In [19]:
ret_11 = past_10.loc[end_measurement10]
ret_10 = past_9.loc[end_measurement09]
ret_09 = past_8.loc[end_measurement08]
ret_08 = past_7.loc[end_measurement07]
ret_07 = past_6.loc[end_measurement06]

In [20]:
ret_12=ret_12.reset_index()
ret_11=ret_11.reset_index()
ret_10=ret_10.reset_index()
ret_09=ret_09.reset_index()
ret_08=ret_08.reset_index()
ret_07=ret_07.reset_index()

In [21]:
ret_12['quintile'] = pd.qcut(ret_12.iloc[:,1],10,labels=False)
ret_11['quintile'] = pd.qcut(ret_11.iloc[:,1],10,labels=False)
ret_10['quintile'] = pd.qcut(ret_10.iloc[:,1],10,labels=False)
ret_09['quintile'] = pd.qcut(ret_09.iloc[:,1],10,labels=False)
ret_08['quintile'] = pd.qcut(ret_08.iloc[:,1],10,labels=False)
ret_07['quintile'] = pd.qcut(ret_07.iloc[:,1],10,labels=False)

In [22]:
winners12= ret_12[ret_12.quintile==9]
winners11= ret_11[ret_11.quintile==9]
winners10= ret_10[ret_10.quintile==9]
winners9= ret_09[ret_09.quintile==9]
winners08= ret_08[ret_08.quintile==9]
winners07= ret_07[ret_07.quintile==9]

In [23]:
# Getting Common Winners

from functools import reduce # python 3 only
final_winner=reduce(np.intersect1d, [winners12.index,winners11.index,\
                                      winners10.index,winners9.index,\
                                      winners08.index,winners07.index])

final_winner=final_winner.tolist()

In [24]:
cols=[]
for ind in final_winner:
  print(df.columns[ind])
  cols.append(df.columns[ind])

ADANIENT.NS
ADANIGREEN.NS
ADANITRANS.NS
ATGL.NS
BDL.NS
CREDITACC.NS
ELGIEQUIP.NS
FLUOROCHEM.NS
GAEL.NS
GNFC.NS
INGERRAND.NS
JKPAPER.NS
KPITTECH.NS
LEMONTREE.NS
MAHSEAMLES.NS
MINDACORP.NS
PAGEIND.NS
RAYMOND.NS
SHARDACROP.NS
SHOPERSTOP.NS
SWANENERGY.NS
TATAELXSI.NS
TATAPOWER.NS
THERMAX.NS

In [26]:
features={'scripname':cols}
final_data=pd.DataFrame(features)

In [27]:
final_data['Date']=formation

In [28]:
final_data.to_csv('data.csv')

In [29]:
len(cols)

24