<a href="https://colab.research.google.com/github/anirbanghoshsbi/.github.io/blob/master/work/twitter_download.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#!pip install snscrape --q

In [2]:
import snscrape

In [4]:
import snscrape.modules.twitter as sntwitter

In [5]:
import pandas as pd

In [21]:
query = "(from:SteveTimoney) until:2022-11-23 since:2010-01-01"
tweets = []
limit = 46000


for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    
    # print(vars(tweet))
    # break
    if len(tweets) == limit:
        break
    else:
        tweets.append([tweet.date, tweet.username, tweet.content])

In [22]:
df = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])

In [23]:
print(df)

                           Date          User  \
0     2022-11-22 22:20:05+00:00  SteveTimoney
1     2022-11-22 18:44:15+00:00  SteveTimoney
2     2022-11-22 18:05:43+00:00  SteveTimoney
3     2022-11-22 18:01:39+00:00  SteveTimoney
4     2022-11-22 18:01:33+00:00  SteveTimoney
...                         ...           ...
43911 2020-04-26 15:26:57+00:00  SteveTimoney
43912 2020-04-24 21:47:22+00:00  SteveTimoney
43913 2020-04-23 14:58:52+00:00  SteveTimoney
43914 2020-04-22 13:43:48+00:00  SteveTimoney
43915 2017-11-16 15:44:49+00:00  SteveTimoney

                                                   Tweet
0                              @anthonysramblin Skittles
1                  @MelisOnCheddar @polak_jasper The way
2                      @Alexmathers84 Great conversation
3                 @polak_jasper One big thing at a time.
4                              @polak_jasper Good system
...                                                  ...
43911  @KyleTrouble How to be cool\n\n- Do things tha...
43912  @Wealth_Theory I like the Ship It process by S...
43913  @BrianNorgard “Luck is what happens when prepa...
43914  @TellYourSonThis “Never argue with a fool, onl...
43915  This mornings @dailystoic is a game changing t...

[43916 rows x 3 columns]

In [24]:
df.to_csv('stevetimoney.csv')